@font-face {
    font-family: 'transporte';
    src:  url('fonts/transporte.eot?d6aarx');
    src:  url('fonts/transporte.eot?d6aarx#iefix') format('embedded-opentype'),
      url('../fonts/transporte.ttf?d6aarx') format('truetype'),
      url('../fonts/transporte.woff?d6aarx') format('woff'),
      url('../fonts/transporte.svg?d6aarx#transporte') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .transporte__icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'transporte' !important;
    //speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .transporte-phone:before {
    content: "\e942";
  }
  .transporte-envelop:before {
    content: "\e945";
  }
  .transporte-alarm:before {
    content: "\e950";
  }
  